<div class="share sticky-top sticky-top-offset">
    {% assign canonical_base = site.canonical_url | default: site.url %}
    {% if canonical_base and canonical_base != "" %}
        {% assign share_url = canonical_base | append: site.baseurl | append: page.url %}
    {% else %}
        {% assign share_url = page.url | absolute_url %}
    {% endif %}
    {% assign share_url_escaped = share_url | url_encode %}
    {% assign share_title_escaped = page.title | url_encode %}
    <p>
        Share
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" rel="noopener noreferrer" href="https://x.com/intent/tweet?text={{ share_title_escaped }}&url={{ share_url_escaped }}" aria-label="Share on X" onclick="window.open(this.href, 'x-share', 'width=550,height=235');return false;">
                <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url_escaped }}" aria-label="Share on Facebook" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url_escaped }}" aria-label="Share on LinkedIn" onclick="window.open(this.href, 'linkedin-share', 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>

    </ul>
    {% if page.comments != false %}
    <div class="sep">
    </div>
    <ul>
        <li>
        <a class="small smoothscroll" href="#comments">Comments</a>
        </li>
    </ul>
    {% endif %}
</div>
